#header__title {
    padding: 3rem;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}