.header {
    padding: 0 !important;
}

button {
    border: none;
    outline: none;
}

.header__wrapper {
    display: flex;
    align-items: center;
    margin-top: 5.5rem;
}

.header__wrapper-left,
.header__wrapper-right {
    width: 50%;
}

.header__wrapper-right>img {
    width: 100%;
}

.header__wrapper-left {
    padding-right: 6rem;
}

.header__left-title {
    color: #081d43;
    font-size: 2.3rem;
}

.header__left-text {
    color: #6c7890;
    line-height: 2rem;
    margin: 1.7rem 0;
    font-size: 1.2rem;
}

.header__left-btns button {
    color: #fff;
    width: 10rem;
    padding: 0.8rem 1.5rem;
    background-color: #0050c8;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    font-size: 1rem;
}

.header__left-btns button:nth-child(1) {
    background-color: #87bc25;
    margin-right: 1rem;
}

@media screen and (max-width: 992px) {
    .header__wrapper {
        flex-direction: column-reverse;
        margin-top: 3rem;
    }

    .header__wrapper-left {
        width: 100%;
        margin-top: 2rem;
    }

    .header__wrapper-right {
        width: 80%;
    }

    .header__left-btns {
        text-align: center;
    }

    .header__wrapper-left {
        padding-right: 0;
    }
}

@media screen and (max-width: 576px) {
    .header__wrapper {
        margin-top: 1.5rem;
    }

    .header__left-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__left-btns button:nth-child(1) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}