ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__left {
    display: flex;
    align-items: center;
}

.navbar__left>img {
    margin-right: 1.5rem;
}

.navbar__list-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar__list-item-link {
    color: #081d43;
    font-weight: 500;
}

.navbar__list-items>li {
    padding: 0 1rem;
}

.navbar__list-item-link::after {
    content: "";
    display: block;
    border-bottom: 2px solid #081d43;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.navbar__list-items>li:hover .navbar__list-item-link::after {
    visibility: visible;
    opacity: 1;
}

.navbar__btn {
    background-color: #0050c8;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    font-size: 1rem;
}

@media screen and (max-width: 1300px) {
    .container {
        margin: 0 1rem;
    }
}

@media screen and (max-width:768px) {
    .navbar__list-items {
        display: none;
    }
}