.person__comments {
    background-color: #2f5bea;
    padding: 5rem 0;
    color: #fff;
    text-align: center;
}

.comments__header {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.comments__text {
    max-width: 28rem;
    line-height: 1.8rem;
    margin: 0 auto;
    font-weight: 100;
}

.cmments__container {
    max-width: 65rem;
    margin: 3.5rem auto 0 auto;
}

.comments {
    display: flex;
    justify-content: space-between;
}

.comment {
    background-color: #fff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 18rem;
    flex-basis: 20rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.comment__content {
    text-align: left;
    padding: 1.2rem;
}

.comment__body {
    color: #7e8085;
    font-style: italic;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.comment__info {
    display: flex;
    align-items: center;
    border-top: 1px solid #e8ebef;
    padding: 0.8rem 1.2rem;
}

.comment__info-text {
    color: #000000;
    margin-left: 1rem;
}

.companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.companies__logo {
    display: block;
    margin: 1rem;
}

@media screen and (max-width:1200px) {
    .comments__wrapper {
        max-width: 960px;
        margin: 0 auto;
    }
}

@media screen and (max-width:992px) {
    .comments__wrapper {
        max-width: 720px;
        margin: 0 auto;
    }
    .comments {
        flex-wrap: wrap;
        justify-content: center;
    }

    .comment {
        flex-basis: 19rem;
    }
    .companies {
        justify-content: center;
        margin-top: 2.5rem;
    }
    .comments__header {
        font-size: 2rem;
    }
}

@media screen and (max-width:576px) {
.comment {
    flex-basis: 100%;
}
}