.works {
    padding: 0 !important;
}

.works__wrapper {
    margin: 6rem 0;
    text-align: center;
}

.works__header {
    color: #6c7890;
}

.works__title {
    font-size: 1.9rem;
    margin-top: 0.8rem;
    font-weight: 300;
}

.works__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.works__content-item {
    flex-basis: 16rem;
    flex-shrink: 0;
}

.works__content-item-title {
    color: #081d43;
    margin: 1.5rem 0;
}

.works__content-item-text {
    color: #6c7890;
    line-height: 2rem;
    max-width: 16rem;
}

.works__img {
    width: 31rem;
    margin: 3rem auto 5rem auto
}

.works__img-img {
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    .works__wrapper {
        margin: 3rem 0;
    }
}

@media screen and (max-width:768px) {
    .works__content {
        margin-top: 1.5rem;
    }
}